
@{
    ViewBag.Title = "QuoteDetails";
    Layout = "~/Views/Shared/_LayoutAnalista.cshtml";
}


<h2>Detalles de la Cotización</h2>

<table class="table table-container">
    <tr>
        <th class="table-primary" >ID Cotización:</th>
        <td>@Model.IdQuote</td>
    </tr>
    <tr>
        <th class="table-primary">ID Persona:</th>
        <td>@Model.IdPerson</td>
    </tr>
    <tr>
        <th class="table-primary">Estado:</th>
        <td>@Model.IdState</td>
    </tr>
    <tr>
        <th class="table-primary">Dirección de Servicio:</th>
        <td>@Model.ServiceAddress</td>
    </tr>
    <tr>
        <th class="table-primary">Departamento:</th>
        <td>@Model.ServiceDepartment</td>
    </tr>
    <tr>
        <th class="table-primary">Ciudad:</th>
        <td>@Model.ServiceCity</td>
    </tr>
    <tr>
        <th class="table-primary">Fecha Inicio:</th>
        <td>@Model.StarDate?  ("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th class="table-primary">Fecha Fin:</th>
        <td>@Model.EndDate? ("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th class="table-primary">Precio:</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
</table>

<a href="@Url.Action("ApproveQuoteAna", "Quote")" class="btn btn-secondary">Volver</a>

<style>
    body {
        background-color: #f4f4f9;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .table-primary {
        --bs-table-bg: #0d3039;
        --bs-table-color: whitesmoke;
    }

    .table-container {
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #091324;
    }

    .header-title {
        font-size: 28px;
        color: #0d6efd;
        text-align: center;
        margin-bottom: 20px;
        background-color: #0d3039;
        padding: 10px;
        border-radius: 10px;
    }

    .btn-primary, .btn-success, .btn-danger {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        border: none;
    }

    .btn-primary {
        background-color: #0d3039;
        color: whitesmoke;
    }

        .btn-primary:hover {
            background-color: #091021;
        }

    .btn-success {
        background-color: #198754;
    }

        .btn-success:hover {
            background-color: #157347;
        }

    .btn-secondary {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: midnightblue;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .btn-danger {
        background-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #bb2d3b;
        }

    .text-principal {
        color: whitesmoke;
    }

    .alert-danger {
        border-radius: 8px;
    }

    .btn-info {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #17a2b8;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

        .btn-info:hover {
            background-color: #138496;
        }
</style>